.option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  .btn

{
  background-color: blue;
  padding: 10px 20px;
  color: #fff;
  border: solid 1px #fff;
}

}

.notification {
  font-size: 18px;
}
