<!-- <p>nav-menu works!</p> -->
<header>
  <nav>
    <!-- <a [routerLink]="['/']">Home</a>
    |
    <a [routerLink]="['/fetch-data']">Fetch Data</a>
    |
    <a [routerLink]="['/edit-fetch-data']">Edit Fetch Data</a> -->
  </nav>
</header>
